.logo{
    width: 3rem;
}

.titleCenter{
margin-top: 7rem !important;
text-align: center;
margin: 0;
}
.container-sm{
    margin-top: 2rem;
}
.text-md-center {
    text-align: center;
}
.row{
    margin: auto ;
}
.card{
    margin: auto;
    max-width: 20rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
     background-color: white;
     border-bottom: none;
}
.card-img-top{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 62%;
}
.carousel-item {
    margin-bottom: 3rem;
}
footer{
    background-color: #bdb9b9;
    height: 5rem;
    
}
footer>p{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 640px) {
    .display-4{
        font-size: 2.5rem ;
    }
  }